<h1>Editing category quote</h1>

<%= render "form", category_quote: @category_quote %>

<br>

<div>
  <%= link_to "Show this category quote", @category_quote %> |
  <%= link_to "Back to category quotes", category_quotes_path %>
</div>
